[submodule "src/drivers/ublox"]
	path = src/drivers/ublox
	url = https://github.com/ucalgary-rover/ublox.git
[submodule "src/drivers/joystick"]
	path = src/drivers/joystick
	url = https://github.com/ucalgary-rover/joystick.git
[submodule "src/drivers/video_stream_opencv"]
	path = src/drivers/video_stream_opencv
	url = https://github.com/ucalgary-rover/video_stream_opencv.git
[submodule "src/drivers/mjpeg_server"]
	path = src/drivers/mjpeg_server
	url = https://github.com/ucalgary-rover/mjpeg_server.git
[submodule "src/drivers/ros_comm"]
	path = src/drivers/ros_comm
	url = https://github.com/ros/ros_comm.git
[submodule "src/react-rover-ui"]
	path = src/react-rover-ui
	url = https://github.com/ucalgary-rover/react-rover-ui.git
[submodule "src/drivers/phidgets_drivers"]
	path = src/drivers/phidgets_drivers
	url = https://github.com/ucalgary-rover/phidgets_drivers
