<?xml version="1.0" encoding="UTF-8" ?>
<launch>

	<!--Setup-->

    <!--Transformation-->
    
    <!--Sensors-->
    <include file="$(find ssrt_rover)/launch/sensors.launch"/>

    <!--Phidgets-->
    <include file="$(find ssrt_rover)/launch/phidgets.launch"/>

    <!--Base Station-->
    <node pkg="rover" type="signal_service" name="signal_service"/>

</launch>