<?xml version="1.0"?>
<launch>
    <group ns="GUI">
    <node name="rqt_gui" pkg="rqt_gui" type= "rqt_gui"/> 
    </group>
    <group ns="camera1">
        <node name="cam1" pkg="usb_cam" type="usb_cam_node" output="screen">
        <param name="video_device" value="/dev/video0"/>
        <param name="pixel_format" value="yuyv"/>
        </node>
    </group>
    <group ns="camera2">
        <node name="cam2" pkg="usb_cam" type="usb_cam_node" output="screen">
        <param name="video_device" value="/dev/video4"/>
        <param name="pixel_format" value="yuyv"/>
        <param name="fps" value="10"/>
        </node>
    </group>
</launch>
    
-