<?xml version="1.0"?>
<launch>
    <node pkg="rover_control" name="control" type="control.py" output="screen"/> 
    <node pkg="joy" name="joy" type="joy_node" output="screen">
        <param name= "~coalesce_interval" value = "0.1"/>
    </node>
    <node pkg = "rover_control" name = "phid_drive" type="drive.py" output="screen"/>
</launch>