<?xml version="1.0"?>
<!--designed for parallels desktop users-->
<!--which treats the virtual mouse as /dev/input/js0 -->
<launch>
        <node pkg="joy" name="joy" type="joy_node" output="screen">
                <param name= "~dev" type ="str" value="/dev/input/js0"/>
                <param name= "~coalesce_interval" value = "0.5"/>
                <param name="~autorepeat_rate" value = "1"/>
        </node>
        <node pkg="rover_control" name="teleop" type="teleop_node" output="screen">
        </node>
</launch>